{% extends 'base.html' %}

{% block del-list-active %}
class="active"
{% endblock %}

{% block home %}
        <h1>Files Staged for Deletion</h1>
        <div class="row">
            {% for entry in entries %}
            <div class="col-sm-4 col-md-3 col-lg-2">
                <a href="/{{ entry }}" class="thumbnail">
                    <img src="/static/{{ entry }}" alt="{{ entry }}">
                </a>
            </div>
            {% endfor %}
        </div>
        <h2><a href="/run_deletion">Delete Files</a></h2>
        <br>
{% endblock %}

{% block style %}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
{% endblock %}

