{% extends 'base.html' %}
{% block pics-active %}
    class="active"
{% endblock %}


{% block home %}
  <div class="text-center">
  {% autoescape off %}
    <h2>
      {{ top_path|join:" > " }}
    </h2>
  {% endautoescape %}
  <form action="/{{ path }}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="row">
      {% for form in formset %}
      <div class="row vertical-align">
        <div class="col-xs-1">
          <a href="/{{ path }}/previous" class="btn btn-default btn-lg" role="button">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </div>
        <div class="col-xs-10">
          <img src="/static/review/pics/{{ path }}" class="img-thumbnail" alt="image">
        </div>
        <div class="col-xs-1">
          <a href="/{{ path }}/next" class="btn btn-default btn-lg" role="button">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        {% for value, text in form.status.field.choices %}
        <label for="id_form-{{ forloop.parentloop.counter0 }}-status_{{ forloop.counter0 }}"
               class="btn btn-primary {% if form.status.value == value %}
                                        active
                                      {% endif %}
                     "
        >
          <input type="radio"
                 id="id_form-{{ forloop.parentloop.counter0 }}-status_{{ forloop.counter0 }}"
                 name="form-{{ forloop.parentloop.counter0 }}-status"
                 autocomplete="off"
                 value="{{ value }}"
                 {% if form.status.value == value %}
                   checked="checked"
                 {% endif %}
          >
          <span class="glyphicon glyphicon-{{ text }}"></span>
        </label>
        {% endfor %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
      {% endfor %}
    </div>
    <br>
    {% if formset.0 %}
      <button type="submit" class="btn btn-primary btn-lg"/>Save Changes</button>
    {% endif %}
  </form>  
  <br>
  <a href="/{{ path }}/rotate" class="btn btn-primary btn-lg" role="button">
    Rotate
  </a>
  {{ month }} {{ day}} {{ year }}
{% endblock %}

{% block style %}
  .vertical-align {
    display: flex;
    align-items: center;
  }
{% endblock %}

