{% extends 'base.html' %}
{% block home %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h1>{{ path }}</h1>
                <h2>{{ status }}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img src="/static/{{ path }}" class="img-thumbnail" alt="image">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a href="{{ img }}/CH">Add to Chatbooks</a>
        </div>
        <div class="col-md-2">
            <a href="{{ img }}/KP">keep</a>
        </div>
        <div class="col-md-2">
            <a href="{{ img }}/DL">delete</a>
        </div>
        <div class="col-md-2">
            <a href="{{ img }}/next">next</a>
        </div>
        <div class="col-md-2">
            <a href="{{ img }}/previous">previous</a>
        </div>
        <div class="col-md-2">
            <a href="/{{ folder }}/">Back to Folder</a>
        </div>
    </div>
</div>
{% endblock %}

