{% extends 'base.html' %}

{% block test-active %}
  class="active"
{% endblock %}

{% block head %}
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <!--  <script src="/static/counties.js"></script> -->
  <style>

    path:hover {
      fill-opacity: 0.7;
    }

    /* Style for Custom Tooltip */
    div.tooltip {   
      position: absolute;           
      text-align: center;           
      height: 60px;                 
      padding: 2px;             
      font: 15px sans-serif;        
      background: white;   
      border: 0px;      
      border-radius: 8px;           
      pointer-events: none;         
    }


    div.tooltip-inner {
      /*  max-width: 350px;*/
      white-space: pre-wrap;
    }

    .tooltip_name {
      font-size:18px;
    }
    .small_break{
      font-size:4px;
    }
  </style>
{% endblock %}

{% block home %}
  <script>

    var width = 1200,
        height = 800,
        centered;

    var div = d3.select("body")
    .append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

    var svg = d3.select('body')
    .append('svg')
    .attr('width', width)
        .attr('height', height);

    var counties = svg.append('g');
    var circles = svg.append('g');

    var albersProjection = d3.geoAlbers()
      .scale(8000)
      .rotate([111.0937, 0])
      .center([0, 39.3210])
      .translate([width/2, height/2]);

    var geoPath = d3.geoPath()
      .projection(albersProjection);

    function comma(x) {
      return x.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function size(d) {
      if (d.Highest == 1){
        return 4;
      } else {
        return 3;
      }
    }

    d3.csv("/static/county_peaks2.csv", function(data) {
      d3.json("/static/counties.json", function(json) {

      circles.selectAll("image")
        .data(data)
        .enter()
        .append("svg:image")
        .attr("xlink:href", "/static/mountain.png")
        .attr("x", function(d) {
          if (d.Highest == 1){
            var height = 6;
          } else {
            var height = 4;
          }
          return albersProjection([d.Long, d.Lat])[0] - height / 2 ;
        })
        .attr("y", function(d) {
         if (d.Highest == 1){
            var height = 6;
          } else {
            var height = 4;
          }
          return albersProjection([d.Long, d.Lat])[1] - height / 2;
        })
        .attr("width", function(d) {
          if (d.Highest == 1){
            return 6;
          } else {
            return 4;
          }
        })
        .attr("height", function(d) {
          if (d.Highest == 1){
            return 6;
          } else {
            return 4;
          }
        })
        .style("opacity", 0);
  

      for (var i = 0; i < data.length; i++) {
        var peakCounty = data[i].County;
        var peak = data[i].Peak;
        var elev = data[i].Elevation;
        var hiked = data[i].Hiked;
        var highest = data[i].Highest;
        for (var j = 0; j < json.features.length; j++) {
          var jsonCounty = json.features[j].properties.name;
          if (peakCounty == jsonCounty) {
            if (highest == 1) {
              json.features[j].properties.peak = peak;
              json.features[j].properties.elev = elev;
              json.features[j].properties.hiked_high = hiked;
            } else {
              json.features[j].properties.hiked_any = hiked;
            }
            var new_peak = {
              "name"      : peak,
              "elevation" : elev,
              "hiked"     : hiked,
              "lat"       : data[i].Lat,
              "long"      : data[i].Long
            }
            if (!json.features[j].properties.hasOwnProperty("peaks")){
              json.features[j].properties.peaks = [];
            }
            json.features[j].properties.peaks.push(new_peak);
            break;
          }
        }
      }

      counties.selectAll('path')
        .data(json.features)
        .enter()
        .append('path')
        .attr('fill', function(d) {
          if (d.properties.hiked_high == 1){
            return '#43b';
          } else if (d.properties.hiked_any == 1){
            return '#88d';
          } else {
            return '#ccc';
          }})
        .attr('d', geoPath)
        .attr('stroke-width', 1.0)
        .attr('stroke', "#fff")
        .on("click", clicked)
        .on("mouseover", function(d) {
          div.transition()
            .duration(200)
            .style("opacity", .9);
          div.html("<span class='tooltip_name'>" + 
              d.properties.name + "</span>" +
              '<div style="line-height:4px"/> <br> </div>' + 
              d.properties.peak +
              "<br>" + comma(d.properties.elev) + " ft")
            .style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
        })
        .on("mouseout", function(d) {
          div.transition()
            .duration(500)
            .style("opacity", 0);
        })
        .on("mousemove", function(d) {
          div.style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
        });
      });
    });

    function clicked(d) {
      var x, y, k;

      if (d && centered !== d) {
        var centroid = geoPath.centroid(d);
        x = centroid[0];
        y = centroid[1];
        k = 4;
        centered = d;
        circles.selectAll("image")
          .transition()
          .duration(750)
          .style("opacity", 0.85);
      } else {
        x = width / 2;
        y = height / 2;
        k = 1;
        centered = null;
        circles.selectAll("image")
          .transition()
          .duration(750)
          .style("opacity", 0);
      }

      counties.selectAll("path")
        .classed("active", centered && function(d) { return d === centered; });

      counties.transition()
        .duration(750)
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")scale(" + k + ")translate(" + -x + "," + -y + ")")
        .style("stroke-width", 1.5 / k + "px");
      circles.transition()
        .duration(750)
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")scale(" + k + ")translate(" + -x + "," + -y + ")")
        .style("stroke-width", 1.5 / k + "px");

    }
  </script>
{% endblock %}

