{% extends 'base.html' %}

{% block test-active %}
  class="active"
{% endblock %}

{% block head %}
  <script src="/static/d3.v4.min.js"></script>
  <style>

    @media screen and (min-width: 768px) {
      .wide-modal {
        width: 70%; /* either % (e.g. 60%) or px (400px) */
      }
    }

    path:hover {
      fill-opacity: 0.7;
    }

    /* Style for Custom Tooltip */
    div.tooltip {   
      position: absolute;           
      text-align: center;           
      padding: 2px;             
      font: 15px sans-serif;        
      background: white;   
      border: 0px;      
      border-radius: 8px;           
      pointer-events: none;         
    }

    svg{
      display: block;
      margin: auto;
    }

    div.tooltip-inner {
      /*  max-width: 350px;*/
      white-space: pre-wrap;
    }

    .tooltip_name {
      font-size:18px;
    }
    .small_break{
      font-size:4px;
    }
  </style>
{% endblock %}

{% block home %}
 
  <!-- Picture modals for each hiked peak -->
  {% for peak, dir, day, files in entries %}
    <div class="modal fade" id="{{ dir }}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog wide-modal" role="document">
        <div class="modal-content">
          <div class="text-center">
            <div class="modal-header">
              <h2 class="modal-title" id="{{ dir }}">{{ peak }}</h2>
              <h4 class="modal-title">{{ day }}</h4>
            </div>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  {% for file in files %}
                    <img src="/{{ file }}" class="img-thumbnail">          
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  {% endfor %}

  <!-- Modal for peaks not hiked yet -->
  <div class="modal fade" id="none" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>
          </div>
          No pictures for this mountain. 
        </div>
      </div>
    </div>
  </div>


  <script>

    var width = 1200,
        height = 800,
        centered;

    var div = d3.select("body")
    .append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

    var svg = d3.select('body')
    .append('svg')
    .attr('width', width)
        .attr('height', height);

    var counties = svg.append('g');
    var circles = svg.append('g');

    var albersProjection = d3.geoAlbers()
      .scale(8000)
      .rotate([111.0937, 0])
      .center([0, 39.3210])
      .translate([width/2, height/2]);

    var geoPath = d3.geoPath()
      .projection(albersProjection);

    function comma(x) {
      return x.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function size(d) {
      if (d.Highest == 1){
        return 4;
      } else {
        return 3;
      }
    }

    d3.csv("/static/county_peaks.csv", function(data) {
      d3.json("/static/counties.json", function(json) {

      // Peaks 
      circles.selectAll("image")
        .data(data)
        .enter()
        .append("svg:image")
        .attr("xlink:href", "/static/mountain.png")
        .attr("x", function(d) {
          if (d.Highest == 1){
            var height = 6;
          } else {
            var height = 4;
          }
          return albersProjection([d.Long, d.Lat])[0] - height / 2 ;
        })
        .attr("y", function(d) {
         if (d.Highest == 1){
            var height = 6;
          } else {
            var height = 4;
          }
          return albersProjection([d.Long, d.Lat])[1] - height / 2;
        })
        .attr("width", function(d) {
          if (d.Highest == 1){
            return 6;
          } else {
            return 4;
          }
        })
        .attr("height", function(d) {
          if (d.Highest == 1){
            return 6;
          } else {
            return 4;
          }
        })
        .style("opacity", 0)
        .attr("visibility", "hidden")
        .attr("pointer-events", "visible")
        .on("click", function(d) {
          var name = "#" + "timp" + "";
          $('#' + d.Dir).modal('show');
          div.transition()
            .duration(200)
            .style("opacity", 0);
        })
        .on("mouseover", function(d) {
          div.transition()
            .duration(200)
            .style("opacity", .9);
          div.html("<span class='tooltip_name'>" + 
            d.Peak +
            "<br>" + comma(d.Elevation) + " ft")
          .style("left", (d3.event.pageX) + "px")
          .style("top", (d3.event.pageY - 28) + "px");
        })
        .on("mousemove", function(d) {
          div.style("left", (d3.event.pageX) + "px")
          .style("top", (d3.event.pageY - 28) + "px");
        })
        ;

      for (var j = 0; j < json.features.length; j++) {
        json.features[j].properties.hiked_any = 0;
      }

      for (var i = 0; i < data.length; i++) {
        var peakCounty = data[i].County;
        var peak = data[i].Peak;
        var elev = data[i].Elevation;
        var hiked = data[i].Hiked;
        var highest = data[i].Highest;
        for (var j = 0; j < json.features.length; j++) {
          var jsonCounty = json.features[j].properties.name;
          if (peakCounty == jsonCounty) {
            if (highest == 1) {
              json.features[j].properties.peak = peak;
              json.features[j].properties.elev = elev;
              json.features[j].properties.hiked_high = hiked;
            } else if (json.features[j].properties.hiked_any == 0){
              json.features[j].properties.hiked_any = hiked;
            }
            var new_peak = {
              "name"      : peak,
              "elevation" : elev,
              "hiked"     : hiked,
              "lat"       : data[i].Lat,
              "long"      : data[i].Long
            }
            if (!json.features[j].properties.hasOwnProperty("peaks")){
              json.features[j].properties.peaks = [];
            }
            json.features[j].properties.peaks.push(new_peak);
            break;
          }
        }
      }

      // Counties 
      counties.selectAll('path')
        .data(json.features)
        .enter()
        .append('path')
        .attr('fill', function(d) {
          if (d.properties.hiked_high == 1){
            if (d.properties.hiked_any == 1){
              // return '#43b';
              return '#76e';
            } else {
              return '#76e';
            }
          } else if (d.properties.hiked_any == 1){
              return '#aaa';
          } else {
            return '#ccc';
          }})
        .attr('d', geoPath)
        .attr('stroke-width', 1.0)
        .attr('stroke', "#fff")
        .on("click", clicked)
        .on("mouseover", function(d) {
          div.transition()
            .duration(200)
            .style("opacity", .9);
          div.html("<span class='tooltip_name'>" + 
              d.properties.name + "</span>" +
              '<div style="line-height:4px"/> <br> </div>' + 
              d.properties.peak +
              "<br>" + comma(d.properties.elev) + " ft")
            .style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
        })
        .on("mouseout", function(d) {
          div.transition()
            .duration(500)
            .style("opacity", 0);
        })
        .on("mousemove", function(d) {
          div.style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
        });
      });
    });

    // Zoom in and out of counties when clicked
    function clicked(d) {
      var x, y, k, peak_opacity, peak_vis;

      if (d && centered !== d) {
        var centroid = geoPath.centroid(d);
        x = centroid[0];
        y = centroid[1];
        k = 4;
        centered = d;
        peak_opacity = 0.85;
        peak_vis = "visible";
        var css = "path:hover { fill-opacity: 1.0}";
        var style = document.createElement("style");
        if (style.styleSheet) {
              style.styleSheet.cssText = css;
        } else {
              style.appendChild(document.createTextNode(css));
        }

        document.getElementsByTagName('head')[0].appendChild(style);

      } else {
        x = width / 2;
        y = height / 2;
        k = 1;
        centered = null;
        peak_opacity = 0;
        peak_vis = "hidden";
        peak_vis = "visible";
        var css = "path:hover { fill-opacity: 0.7}";
        var style = document.createElement("style");
        if (style.styleSheet) {
              style.styleSheet.cssText = css;
        } else {
              style.appendChild(document.createTextNode(css));
        }

        document.getElementsByTagName('head')[0].appendChild(style);


      }

      counties.selectAll("path")
        .classed("active", centered && function(d) { return d === centered; });

      counties.transition()
        .duration(750)
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")scale(" + k + ")translate(" + -x + "," + -y + ")")
        .style("stroke-width", 1.5 / k + "px");
      if (peak_vis == "hidden"){
        circles.selectAll("image")
          .transition()
          .duration(750)
          .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")scale(" + k + ")translate(" + -x + "," + -y + ")")
          .style("stroke-width", 1.5 / k + "px")
          .style("opacity", peak_opacity)
          .on("end", function() {
            d3.select(this).attr("visibility", peak_vis)
          });
      } else {
        circles.selectAll("image")
          .transition()
          .duration(750)
          .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")scale(" + k + ")translate(" + -x + "," + -y + ")")
          .style("stroke-width", 1.5 / k + "px")
          .style("opacity", function(d) {
            if (peak_opacity == 0){
              return 0;
            } else if (d.Hiked == 1){
              return 0.9;
            } else {
              return 0.3;
            }
          })
          .attr("visibility", peak_vis);
      }
    }
  </script>
{% endblock %}

