{% extends 'base.html' %}

{% block home %}
    <form action="/test_forms" method="post">
        {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
            <img src="/static/review/testing/staging/pic0.png"
                class="img-thumbnail"
                alt="image">
                {{ form }}
                {{ form.path.value|default_if_none:"" }}
            {% endfor %}
        <input type="submit" value = "Submit Set" />
    </form>
{% endblock %}

